[2020-03-29 12:35] sic4change opened #1 "Create, Import, Export and Filter"
Hi,
Congratulations on your work!!

In my code I have:

[code]

But, I can not see my Filter button....

Can you help me, please. Regards

[2020-03-29 13:55] benwinding commented on #1
Thanks Mate!

Yeah when you use a custom actions panel, I think you need to add the filters component back in a again.

Try adding the `<UseFilters {...props} />` to the actions element. Also see this example for more information:

https://marmelab.com/react-admin/List.html#actions

Cheers,
Ben

[2020-03-30 07:58] Odonno opened #5 "Some suggestions"
Hi @benwinding

I just made some PRs in order to resolve some issues I had in the last weeks. I hope you'll like the improvements.

I have some other suggestions that can be discussed here if you want.

### Suggestions

https://github.com/benwinding/react-admin-import-csv/blob/84fdf2fd800c1471be73d05246febca0bfeb6f44/src/import-csv-button.tsx#L16

I suppose that all `console.log` should be forbidd

[2020-03-30 08:38] benwinding commented on #5
Hey @Odonno,

I just want to first say thank you for sharing your code initially, it's been a big help in understanding `react`, `redux` and `react-admin`.

Yes, or at least a configuration flag.

I'm not 100% sure, [but according to the API](https://marmelab.com/react-admin/DataProviders.html#writing-your-own-data-provider
), the `UPDATE_MANY` action updates a lot of _ids_ with one row of _common

[2020-03-30 09:46] Odonno commented on #5
Hum, you are right, it seems that `UPDATE_MANY` is to update multiple objects using the same payload/properties. So, multiple `UPDATE` may be more suitable.

I also see you use hooks instead of the `crudUpdate` dispatched action. Seems to be a better way than I did. So, the last thing is to know to identify whether to create or to update. Not sure how to do that.

[2020-03-30 11:29] benwinding commented on #5
This was a huge learning process for me, I tried using effects and dispatches by kept getting ["the invalid hook call warning"](https://reactjs.org/warnings/invalid-hook-call-warning.html). So after a lot of trial and error, this was the only thing that react allowed me to do.

Maybe we could launch a [Material-ui Dialog](https://material-ui.com/components/dialogs/) and ask the question to the use

[2020-03-30 12:02] Odonno commented on #5
That's a clever idea. react-admin already use `Confirm` modal to check for validation (like deletion). We should investigate on this to reuse their component.

Also, your idea gave some idea about new properties: `overwrite` and `confirm`. The confirm is a boolean to indicate if the modal should be opened. If `confirm=false` and `overwrite` is set, we should bypass the modal process to automatical

[2020-03-31 19:55] Odonno commented on #5
I suppose we can start like that with `overwrite` and `confirm` props. If someone has an idea in the future for improvements, we will check at that time.

What do you think?

[2020-04-12 12:53] #5 closed, assigned to nobody

[2020-04-14 00:58] benwinding commented on #5
Hey @Odonno,

I've made some recent updates and included a [demo here](https://benwinding.github.io/react-admin-import-csv/#/posts). Let me know what you think.

If you'd like to add some additional features or fix something, please have a look at the `development` notes at the bottom of the README, and submit a PR.

Cheers for your help,
Ben

[2020-04-15 09:56] awesome-michael opened #7 "Adding translation"
Is it possible to make the strings used in your UI translateable?

[2020-04-15 23:13] benwinding commented on #7
Hi @awesome-michael
I'm not sure how to do that, do you have experience in this?

[2020-04-17 09:39] awesome-michael commented on #7
Unfortunately I just used the translation instead of implementing it. Maybe these could be a starting point:

https://marmelab.com/react-admin/Translation.html#introducing-the-i18nprovider
https://marmelab.com/react-admin/Translation.html#translating-notification-messages

[2020-04-18 05:58] #1 closed, assigned to nobody

[2020-04-18 17:18] mananomartinez commented on #7
@benwinding, great project. Saved me a lot of time.
I need the same thing, plus a couple of other enhancements. I might be able to add the translation and make the changes I need.
Should I just do pull requests?

[2020-04-19 05:42] benwinding commented on #7
Hey @mananomartinez,
Yeah send some Pull Requests through if you want, that would be great!
Cheers,
Ben

[2020-04-19 17:29] mananomartinez commented on #7
Hey @benwinding ,

I have the code ready but don't seem to have permissions to push the new branch to this repo. Anything you can do on your end?

Thanks,
Jose

[2020-04-21 14:38] awesome-michael commented on #7
Afaik you have to fork the repo, push the branch into your own version of the repo and then file a PR out of that.

[2020-04-21 21:48] mananomartinez commented on #7
Thanks @awesome-michael. I hadn't really contributed on a github project before. :) PRs are up

[2020-04-21 23:18] benwinding commented on #7
Thanks @mananomartinez!
Yes, forking and making a PR that way is the standard approach for most github projects. I'll take a look at yours now.
Cheers,
Ben

[2020-04-21 23:34] benwinding commented on #7
Closed by #10 #9

[2020-04-21 23:34] #7 closed, assigned to nobody

[2020-05-11 12:51] kunal-relan opened #12 "Validation for CSV Files and Error Handling"
Currently there are no validators available for processing the CSV file, moreover if any of the data has errors leading to one of the row not being inserted, the dialog box just haults on loading.

[2020-05-11 15:13] kunal-relan commented on #12
Upon digging more, I found a fix. I can open an MR if you're interested. Here is the proposed change.

src/import-csv-button.tsx Line No: 87

[code]

[2020-05-12 06:38] benwinding commented on #12
Hi @kunal-relan,
Thanks for the suggestions.

I've just fixed it using async await syntax, thanks for pointing it out though.
https://github.com/benwinding/react-admin-import-csv/blob/c1bc8194e5cfbef00416d3c6f9b268569a6a9959/src/import-csv-button.tsx#L87-L91

Do you have a proposal for validation? Currently it just checks to see that the `id` field exists.

[2020-05-19 04:40] kunal-relan commented on #12
yes, so I had to urgently make it work thus I added a custom validator using `runtypes` library where we fetch the entity column and their types to check the object types on the runtime and then filter out the extra columns, runtypes also provide constraint checking.

What I also did was, use `Promise.allSettled` and map all the errors and success requests separately to show on the dialog the numb

[2020-05-19 06:30] benwinding commented on #12
Thanks @kunal-relan,

Glad to hear you got it solved. I haven't heard of the `runtypes` library or `Promise.allSettled`, but it sounds like a great solution which would help the user see which rows failed.

If you'd like to make a PR that would be much appreciated! :+1:

Cheers,
Ben

[2020-05-19 11:57] kunal-relan commented on #12
so runtypes is a great TS library for checking the types of object in runtime, I'd make generic changes on the basis of my changes as I have completely modified it for our use case. Expect a PR by this saturday or sunday. Also can you check if users have the permission to create a PR.

Cheers,
kunal

[2020-06-07 08:30] kei-ix opened #16 "[Howto] Specific type (boolean, etc.)"
Hi,

Nice work!! You saved me time! I'm new in React and I'm working on a side project to develop a small admin interface above my own API.

I have a small question: is it possible to import via CSV specific type, like boolean ?

Thank you !

[2020-06-07 19:16] VicenteVicente commented on #16
Hi!, you could use the papaparse's parseConfig `dynamicTyping: true`. It parses **numbers** and **booleans** automaticly. For example:

[code]

and then:

`<ImportButton {...config} />`

[2020-06-08 06:39] kei-ix commented on #16
I checked on Papaparse's documentation, according to your comment and I found the solution: `dynamicTyping: true` 🥳

Thank you very much for your help !

[2020-06-08 06:39] #16 closed, assigned to nobody

[2020-07-22 17:58] MoonC432 commented on #12
The import button does not spam unless there is atleast one row of data. Is there no way to spam it even if the databse is empty like the create button?

[2020-07-23 17:33] copyaplexy commented on #12
@kunal-relan Did you ever submit this PR? I am in urgent need of your fix. cc:

Also @benwinding, was your fix https://github.com/benwinding/react-admin-import-csv/blob/c1bc8194e5cfbef00416d3c6f9b268569a6a9959/src/import-csv-button.tsx#L87-L91 only for `Import As New`, not `Import As Overwrite`?

[2020-07-23 19:58] copyaplexy opened #18 "Disable "Import As New"?"
I have an app where users should not be able to create new records - only update existing records.

I tried to find a way to disable the `Import As New` feature using `REF`s but wasn't able to.

Is there an easier way to do what I want to do here?

[2020-07-24 05:28] kunal-relan commented on #12
@copyaplexy  Sorry I got too busy with work, what exactly is your requirement here?

[2020-07-25 16:32] copyaplexy commented on #12
@kunal-relan What's happening is if a user tries to import a CSV in which the column heading is misspelled so that it doesn't match the database column name, the import appears to hang on the front end.

So, the spinner continues but the user never discovers the reason for the failure. They end up waiting indefinitely.

It sounds like you found some way to return specific errors for specific colum

[2020-07-28 21:05] #18 closed, assigned to nobody

[2020-07-28 21:20] benwinding commented on #18
Hi @copyaplexy,

In `react-admin-import-csv@0.2.17` You can now disable "Import As New" button from the configuration options:

[code]

[Full list of options here](https://github.com/benwinding/react-admin-import-csv#configuration-options)

Cheers,
Ben

[2020-07-29 17:44] copyaplexy commented on #18
@benwinding This is great! Thanks man!

[2020-08-05 06:22] axehomeyg commented on #12
I'm trying to wrap my head around if my solution in a separate PR fits your use case(s). I'm allowing failed create/updates to finish successfully, and letting a passed-in callback handle row-by-row reporting of success/fail. We use this to throw all of the rows and an additional 'success' boolean column, into a 'results.csv' that gets sent back immediately. I can't even imagine taking on a UI to

[2020-08-21 00:46] enricodeleo opened #20 "Custom importer function"
Is it possible to inject a custom importer function the same way we do for `exporter`?

[2020-08-21 02:02] benwinding commented on #20
Hi @enricodeleo,

What do you mean by _exporter_? We have the following options available to use:

[code]
[code]

Any other functionality, you're better off manipulating your dataprovider.

Cheers,
Ben

[2020-08-21 10:41] enricodeleo commented on #20
Thanks for your reply @benwinding

[2020-08-21 10:41] #20 closed, assigned to nobody

[2020-08-24 11:07] fzaninotto opened #21 "Minimize HTTP requests"
Hi, and thanks for sharing this module, it's really helpful.

I have a concern with the way you send the imported records to the backend (using a list of `create` calls). This is not efficient from a network point of view, and can even be seen as a DoS from the backend.

May I suggest you call a new verb on the dataProvider (something like `createMany`), and leave the implementation to the develop

[2020-08-25 00:12] benwinding commented on #21
Hi @fzaninotto,

Yes, this makes way more sense, I will implement this.

So if I understand correctly, do you mean make a single import button, and when you click import it has another confirmation dialogue if there's records that will be overwritten?

Yes, this would make it quicker too. So clicking the import button would launch the file picker and then validate the CSV then continue if the CSV

[2020-08-25 07:25] fzaninotto commented on #21
About the UX, here is how I see it:

1. The user clicks on the import button
2. right away, the file selector appears. It only shows csv, tsv, and xls files
3. The user selects a file and submits. A dialog appears explaining that the import is in progress
4. your plugin processes the file client-side and checks that it can CSV decode it and that records have an id column. If it's not the case, sho

[2020-08-25 07:59] Odonno commented on #21
@benwinding Long time no see. Great job about the improvements on this library BTW!

@fzaninotto We already discussed some of those questions long ago on this issue #5 But from your new point of view and from what I already experienced, I think we should focus on how to make it simple stupid:

* Clean UX with a direct file selector. I am ok with this, it is the basic entry point
* The call to `get

[2020-08-25 11:25] fzaninotto commented on #21
I'm heavily inspired by File copy dialogs in Windows and MacOS, and I think your users will be used to them, too (because of [Jakob's law](https://lawsofux.com/jakobs-law.html). You should try to mimic these dialogs as much as possible, hence the idea to have 3 buttons: Ignore, Update, or Dismiss, instead of checkboxes.

When I'm talking about a dialog, it's the same one throughout the entire proc

[2020-08-25 12:09] Odonno commented on #21
@fzaninotto I am not aware of an import Dialog anywhere in Windows.

[2020-08-25 12:23] fzaninotto commented on #21
I'm talking about the file transfer dialog (here, in Windows)

![image](https://user-images.githubusercontent.com/99944/91173695-85caa580-e6de-11ea-9793-e7bbda9eebee.png)

[2020-08-25 12:44] Odonno commented on #21
Oh ok. Well, files and data are not the same stuff IMO. But I suppose in term of simplicity you can insert new items by design and let user choose what to do with the already existing items. That seems fair to me.

[2020-08-31 00:42] benwinding opened #23 "Remove Direct Dependency on "ra-language-XXXX" packages"
Currently this package directly depends on `ra-language-chinese` and `ra-language-spanish`

https://github.com/benwinding/react-admin-import-csv/blob/ece80b9a103c25b5ec130e5c0ce45900613cbcf5/package.json#L32-L37

A better way would be to implicitly depend on the locale language that the parent project needs.

So, I'm wondering if we can try and remove this dependency here somehow... so more langua

[2020-09-10 13:13] Mattia-Longhin opened #25 "preCommitCallback is ignored due to hooks setting values asynchronously"
Hello,

First of all, thank you for your work!

I think that there is an issue with `preCommitCallback`. You call `setValues` with the result of `preCommitCallback` and then you use the content of `values` variable directly.

This does not work because you cannot trust `setValues` to synchronously change `values`. Your are providing the old values to the `create` function.

https://github.com/benw

[2020-09-15 04:38] benwinding commented on #25
Thanks for reporting and fixing the issue!
Closed by #26

[2020-09-15 04:38] #25 closed, assigned to nobody

[2020-09-19 05:22] benwinding commented on #21
Hi @fzaninotto, @Odonno,
We finally have a working alpha release of the new import workflow, let me know what you think!

**Try live demo here:**
https://benwinding.github.io/react-admin-import-csv/#/posts

![Peek 2020-09-19 14-50](https://user-images.githubusercontent.com/11782590/93659721-83622e00-fa87-11ea-90c4-650aecf60a6a.gif)

**Try out `alpha-release` package here**
`npm install react-admin

[2020-09-23 10:28] artemgafarov666 opened #29 "in18provider prop"
Hello! Could you add an 'i18nProvider' prop to forward the custom provider?

[2020-09-28 23:41] #12 closed, assigned to nobody

[2020-09-28 23:41] #21 closed, assigned to nobody

[2020-09-28 23:41] #23 closed, assigned to nobody

[2020-09-28 23:44] benwinding commented on #29
Hi @artemgafarov666,
The new version `1.x` uses **react-admin's** global i18n translation. Below is an example on how to set it up with this package.
https://github.com/benwinding/react-admin-import-csv#translation-i18n
Cheers,
Ben

[2020-09-28 23:44] #29 closed, assigned to nobody

[2020-09-28 23:47] benwinding commented on #12
The new `1.x` version has the config property; `validateRow` which is a callback that returns a Promise, if the row is invalid it rejects that promise. More information here:

https://github.com/benwinding/react-admin-import-csv#configuration-options

Still need to display validation errors though.

[2020-10-01 05:03] fzaninotto commented on #21
Excellent, kudos for the great work!

I noticed the notification after the import shows tokens instead of values in the demo you linked.

![image](https://user-images.githubusercontent.com/99944/94770162-30a44280-03b4-11eb-8ddb-013c1c3c022d.png)

Is it a bug, or something that needs to be translated by the developer when using this package?

[2020-10-02 01:42] benwinding opened #30 "Reimplement i18n translations for this library"
Due to the v1 upgrade, many translations are no longer relevant and some translations are redundant.

Currently we have `en`, `cn` and `es` but due to the refactor, they need to be fixed.

[2020-10-02 01:45] benwinding commented on #21
Thanks @fzaninotto !
That was a `translation` bug, should be fixed now.
This library contains `i18n` translations for many languages (so the developer doesn't need to provide any), but some languages aren't finished (due to the upgrade). Refer to issue #30 for more details

[2020-10-03 06:43] #30 closed, assigned to nobody

[2020-10-05 17:57] Pierre-Demessence opened #32 "Missing lib/ folder"
Hello,

I tried updating to **1.0.3** from **0.2.18** but I'm then unable to resolve imports due to a missing `lib/` folder.

Here's the file structure in `node_modules/react-admin-import-csv` in 0.2.18 (and 0.2.20).
![image](https://user-images.githubusercontent.com/1756398/95114363-1a93da80-0744-11eb-9794-8d72faa762a1.png)

Here's the file structure in `node_modules/react-admin-import-csv` in 1.

[2020-10-05 18:00] Pierre-Demessence commented on #32
After trying all the versions one by one, it seems the change happened between 1.0.1 (which has the lib/ folder) and 1.0.2 (which doesn't have it).

[2020-10-05 22:02] benwinding commented on #32
Thanks for reporting the issue @Pierre-Demessence,
This was an issue with the Github Actions deployment.
It's now fixed by commit: 4c7647a8afe4987b5455e007738e4d805348d1ac
Should be released in `react-admin-import-csv@1.0.4`
Cheers,
Ben

[2020-10-05 22:02] #32 closed, assigned to nobody

[2020-11-03 22:36] fzaninotto opened #34 "postCommitCallback always receives empty array for creation"
[code]

Always logs an empty array (`[]`).

I suspect that's because `createInDataProvider` never updates the `reportItems` in

https://github.com/benwinding/react-admin-import-csv/blob/b8e2f79393d480e4c7278ea33d13283500297a24/src/uploader.ts#L68-L94

[2020-11-05 04:16] #34 closed, assigned to nobody

[2020-11-05 04:17] benwinding commented on #34
Thanks @fzaninotto,
Should be fixed now, returning the report items array from `createInDataProvider`
Cheers,
Ben

[2020-11-19 02:46] nickwest238 opened #37 "Missing keys"
I get the following warnings when I try to use the import button:

Warning: Missing translation for key: "csv.buttonMain.label" index.js:1
Warning: Missing translation for key: "csv.buttonMain.tooltip" index.js:1
Warning: Missing translation for key: "csv.dialogImport.title" index.js:1
Warning: Missing translation for key: "csv.dialogCommon.subtitle" index.js:1
Warning: Missing translation for key

[2020-11-19 05:12] #37 closed, assigned to nobody

[2020-11-19 05:17] benwinding commented on #37
This is due to the i18n translations provider not being given to the top level `<Admin />` component.

I've just added English as the default translation, see if it works now. This is the standard way of initializing translations in `react-admin`

[code]
Let me know if there's any issues

[2020-11-20 08:00] peter-jerry-ye opened #39 "Notification update - translation not working properly %{fname}"
According to this [answer](https://stackoverflow.com/questions/54069253/usestate-set-method-not-reflecting-change-immediately), the `setState` won't change the function immediately, thus we can see that in the notification, the translation does not work, because the state remains null.
<img width="1030" alt="截屏2020-11-20 下午3 59 02" src="https://user-images.githubusercontent.com/16731997/99774902-6

[2020-11-20 11:28] benwinding commented on #39
Thanks for reporting and fixing the issue @peter-jerry-ye,
Should be deployed in version `1.0.6`
Cheers,
Ben

[2020-11-20 11:28] benwinding commented on #39
Thanks for reporting and fixing the issue @peter-jerry-ye,
Should be deployed in version `1.0.6`
Cheers,
Ben

[2020-11-20 12:13] peter-jerry-ye commented on #39
Sorry for the confusion, but the pull request wasn't aimed for this issue. The pull request was aimed to allow async preprocess of csv file, but this issue is something else.

[2020-11-21 01:16] benwinding commented on #39
Ahh okay, I'll have a look at this in the next few days :+1:

[2020-11-21 01:53] bayareacoder opened #40 "preCommitCallback is incorrectly called with a first argument of `create` for an update"
In file `uploader.ts`, the preCommitCallback is incorrectly called with a first argument of `create` for an update, while it should be `overwrite` per the type definition

file `uploader.ts`:
[code]

file `config.interface.ts`:
[code]

[2020-11-21 02:00] bayareacoder opened #41 "Handler for skip seems to create a new record still"
Comparing these 2 handlers in `import-csv-button.tsx` it appears the skip handler creates a new record still.
Should `createRows([val])` not be deleted in `handleAskDecideSkip`?

[code]

[2020-11-21 02:10] bayareacoder opened #42 "Improvement: pass more params into `validateRow` for improved row validation"
In file `import-controller.ts`, function `CheckCSVValidation`, change from:
[code]
to:
[code]
so user-provided validation function has access to row index to inform user which row is failing validation, and even the full array of records (3rd arg from array.map) to allow cross-record validation in a data set.

[2020-11-21 04:07] benwinding commented on #42
Hi @bayareacoder _(Nice username btw)_,
Yeah I think that's probably a good idea, I'll implement now.
Cheers,
Ben

[2020-11-21 04:15] benwinding commented on #41
Good catch @bayareacoder, thanks for diagnosing and finding the solution!

[2020-11-21 04:20] benwinding commented on #40
Thanks again @bayareacoder,
Feel free to submit a Pull Request for future issues if you'd like!
Cheers,
Ben

[2020-11-21 04:21] #42 closed, assigned to nobody

[2020-11-21 04:22] #41 closed, assigned to nobody

[2020-11-21 04:22] #40 closed, assigned to nobody

[2020-11-21 08:11] benwinding commented on #39
![Peek 2020-11-21 18-39](https://user-images.githubusercontent.com/11782590/99871277-e65b7700-2c28-11eb-9f09-e351a615ba00.gif)

Translation seems to work with Demo here: https://benwinding.github.io/react-admin-import-csv/

Can you show me the configuration you had to reproduce that?

[2020-11-21 08:17] peter-jerry-ye commented on #39
The same demo, tested just now. Except my default language is Chinese.

发件人: Ben Winding<mailto:notifications@github.com>
发送时间: 2020年11月21日 16:12
收件人: benwinding/react-admin-import-csv<mailto:react-admin-import-csv@noreply.github.com>
抄送: Zihang Ye<mailto:jerryzihye@outlook.com>; Mention<mailto:mention@noreply.github.com>
主题: Re: [benwinding/react-admin-import-csv] translation does not work (#39)

[2020-11-22 01:54] benwinding commented on #39
Found the exact issue.
- The rendering and state doesn't seem to affect the translations.
- It seems to be the translation library not interpreting Chinese correctly.
![image](https://user-images.githubusercontent.com/11782590/99891803-db9ef180-2cbd-11eb-88dd-5c3ba71ecada.png)
- I replaced a Chinese, translation with an English one in `src/i18n/zh.ts` and the English one worked correctly.
![image]

[2020-11-22 01:59] peter-jerry-ye commented on #39
That's interesting. But it's normal for the spanish one not working because there's a space after %.
What I've found was that there's a reset state before the notification. Not sure if that's relavent.

YE Zihang
________________________________
From: Ben Winding <notifications@github.com>
Sent: Sunday, November 22, 2020 9:54:14 AM
To: benwinding/react-admin-import-csv <react-admin-import-csv@nore

[2020-11-22 02:07] benwinding commented on #39
Found the issue, turns out was a simple uni-code character mismatch, from copying from Google Translate, it didn't use the correct `%` sign!!
![image](https://user-images.githubusercontent.com/11782590/99891862-62ec6500-2cbe-11eb-9e65-daba839560d3.png)
Should be working now, that was a silly bug :laughing:

[2020-11-22 03:24] peter-jerry-ye commented on #39
Thank you for your great work!

But unfortunately one problem still remains: the problem with the notification.
I've just tested with your most recently deployed [app](https://benwinding.github.io/react-admin-import-csv/#/posts). If you delete everything and reimport from file, i.e. import without collision, you'll see that the notification shows 'Imported', without the name of the file. On my sid

[2020-11-22 10:19] benwinding commented on #39
Hi @peter-jerry-ye,
Wow this thing is difficult to fix!
- So I cannot replicate the issue you're describing, can you send a video of the issue and exact steps to reproduce it?
![Peek 2020-11-22 20-42](https://user-images.githubusercontent.com/11782590/99901017-70780e00-2d03-11eb-8e34-9e031605b80e.gif)
- Also I've updated some dependencies, maybe that fixed it?
- I'm still not sure that it's a stat

[2020-11-22 11:23] peter-jerry-ye commented on #39
@benwinding You've already replicated the issue. I should correct my description: On my side it'll be '导入的' without the file name, i.e. fname is null. The fact I saw %{fname} was due to the previous bug.

I'm not sure what you mean by you don't know how to reproduce the error: you've already done that.

What I've found was that if you add `console.log(fileName)` after line 98 of `main-csv-button.t

[2020-11-22 12:39] benwinding commented on #39
Ahhh, okay I think I understand the issue now. `${fname}` is empty in certain conditions right?. Well, I think it's finally fixed!

![Peek 2020-11-22 22-59](https://user-images.githubusercontent.com/11782590/99903771-775c4c00-2d16-11eb-95b1-35aa297c15ea.gif)

You were correct it was due to the `setState` being used in an asynchronous function. This kind of [breaks the rules of react hooks](https:/

[2020-11-23 03:54] peter-jerry-ye commented on #39
Well done! The issue is fixed. Thank you very much.

[2020-11-23 03:54] #39 closed, assigned to nobody

[2020-11-23 09:33] peter-jerry-ye opened #45 "Unexpected behaviour on import with dynamicTyping"
Sorry to disturb you again, but I've found this:

If you change your example `posts.js` to:
[code]
i.e. delete postCommitCallback and add this parseConfig, when you import data with conflicting ids, it will not show the dialog but quit directly. Is it an expected behaviour? Thanks.

[2020-11-23 14:13] benwinding commented on #45
Hi @peter-jerry-ye,
No that's not expected behaviour thanks for reporting it. Hmm it's probably to do with the comparison here, it uses values from your dataprovider to compare to the ID's imported in the CSV. This will not detect a colliding ID if the dataprovider returns an id with type `number`...

https://github.com/benwinding/react-admin-import-csv/blob/a07aec59d258a9652061ab662df8b665f54b474

[2020-11-23 15:12] peter-jerry-ye commented on #45
There are multiple choices.
- You can convert them all to string when comparaison, as I proposed in #46 .
- You can type check them and use correct comparaison
- You may just leave id as it is in [line 29](https://github.com/benwinding/react-admin-import-csv/blob/a07aec59d258a9652061ab662df8b665f54b4743/src/import-controller.ts#L29). `recordsColliding.data.map((r) => r.id)`. Perhaps you can provid

[2020-11-23 22:43] benwinding commented on #45
To me this is the best option:
- The only problem I can see is which `ID` should be sent to the DataProvider?
- If `id1 = 2` and `id2 = '2'` these will become equivalent, so should it always pick the ID from the DataProvider?

That's debatable lol, I personally think `r.id + ''` is clearer _(you don't need the `as string` either)_

Cheers,
Ben

[2020-11-24 02:05] peter-jerry-ye commented on #45
It seems to me it is best to send whatever the user give you, i.e. the parse result from csv, so that the user can have full control. That being said, in the definition of `Identifier` is `string | number`, so you can send string. Just mark it in the `README` if you always send a string in case they put `identifier as number` somewhere in code.

I do expect the type in the parse result correspondi

[2020-11-25 03:00] #45 closed, assigned to nobody

[2020-11-25 03:06] benwinding commented on #45
Hey @peter-jerry-ye, I've just merged it in.

Have a test and let me know if there's any issues.

Also, what dataprovider are you using in your project? just curious

[2020-12-08 07:33] fkowal commented on #18
Hey is this flag supported?

As far as i can tell it's only used in the type definition and the README

so since' it's not actually used in the implementation I don't see a way for it to be used

Here is something I tried

[code]

but the issue here is that the https://github.com/benwinding/react-admin-import-csv/blob/79fe1f498ae02872d0437d5273e7931d8c705285/src/uploader.ts#L15

proceeds calling t

[2020-12-09 04:19] benwinding commented on #18
Hi @fkowal,

The latest deploy should re-enable the flags `disableImportNew`, `disableImportOverwrite` (they we're forgotton during a recent refactor).

[code]
That is expected behaviour, the `preCommitCallback` is for transforming data. If you want to validate data then use the  `validateRow` function.

Yes that may cause an issue, I suggest using the `validateRow` function to selectively return

[2020-12-09 06:44] fkowal opened #51 "preCommitCallback running to late"
Hi

I wanted to discuss an issue i ran into to hopefully find a solution

The issue is that the preCommitCallback is called to late in the pipeline

My business case is that Business guy goes to react-admin exports an CSV
fills out some missing information in 1 column and the imports the data back into the system

ie. He export 1000 rows, he fills only 50 and the uses the import CSV

So during imp

[2020-12-09 07:04] fkowal opened #52 "Customizable/override collistion detection code"
Hey

I ran into an issue with collision detection

I export data using the build in `Export` the `Import` using your plugin

And here is what happens

```logger.log("Has colliding ids?", { hasCollidingIds, collidingIds });```
shows that all Ids this makes sense because i exported the data from the system

So this works fine

But the
[code]
Sadly show the very same Ids as the colliding Ids

And the

[2020-12-09 11:45] benwinding commented on #51
Hi @fkowal,

Thanks for opening a new issue to discuss this further.

Yes that seems like a better flow in my opinion, you can make a pull request if you'd like to try, or I can have a look at it in the next few weeks.

Some of these design decisions came after much discussion in this issue here #21. We basically decided to just immediately import all items which weren't colliding, and only warn i

[2020-12-09 13:18] benwinding commented on #52
Seems I can't seem to replicate this issue, on the demo site here: https://benwinding.github.io/react-admin-import-csv

Can you show me how to recreate the issue?

[2020-12-11 13:06] #51 closed, assigned to nobody

[2020-12-11 14:49] fkowal commented on #52
ok i found the cause

[code]

this methods always returns true for the "other" type
because of ```!collidingIdsNumbersSet.has(+item.id)``` always returns true

[2020-12-13 22:43] #52 closed, assigned to nobody

[2020-12-17 14:39] Carac0les opened #55 "Is updateMany the right method to call?"
Hello,

First thank you very much for the work, this feature is awesome.
I came accros something while getting this to work for me.

### Context
My use case is to only allow updating records, so I used the `disableImportNew: true` option.
When updating records, react-admin-import-csv calls the dataProvider method **updateMany**.

I realised that the format of the data sent to the updateMany method

[2020-12-18 00:08] benwinding commented on #55
Hi @Carac0les,
Hmm, yes it seems you are correct, the dataprovider method **updateMany** is used for bulk updating of the _same_ data, not an array of existing data.

Yeah I think some of them are implemented incorrectly.

Perhaps a new method like **updateManyArray** would be useful.

| Try Dataprovider Method  | Fallback |
| - | - |
| createMany | create |
| updateManyArray | update |

Might tak

[2020-12-21 14:15] Carac0les commented on #55
Hello,

Thanks for the fast reply.

Your suggestion seems sensible to me.
I really lack the knowledge of other dataProviders and how common it is to accomodate for an updateManyArray method is, so it is hard for me to bring anything else to the table unfortunately.

Thanks.

[2020-12-22 04:14] #55 closed, assigned to nobody

[2020-12-23 10:04] bertrandjamin opened #56 "Latest version is not available on npm/yarn"
Hi,

I would like to use the latest version of your lib (notably the updateManyArray workaround cf #55 ).

But when I retrieve it  from yarn I have an older version 🤔

The documentation here https://www.npmjs.com/package/react-admin-import-csv without the referenece to `updateManyArray` seems to confirm this.

Thanks !

[2020-12-23 10:07] #56 closed, assigned to nobody

[2020-12-23 10:12] benwinding commented on #56
Sorry about that, the deployment wasn't triggered, should be deployed now as `v1.0.16`.

[2020-12-23 10:15] bertrandjamin commented on #56
Oh yes sorry I haven't realized that it was not yet released :/

Thank you for your quick answer !

[2020-12-24 15:24] shrue348 opened #57 "array of one element"
I transform some data width transform func in parse config to array of numbers (for example [123,123,123,123])
If array has 2 and more elements, it transmitted to dataProvider normally
But if array has one element (for example [123]), in transmitted to dataProvider as single number 123

[2020-12-25 00:21] benwinding commented on #57
Hi @shrue348,
Thanks for checking out the library, but I'm having a little trouble understanding the problem. Are you saying that you're storing an array in a CSV field?

Please try the following to help me understand your issue:
- Give me a basic CSV file which demonstrates the problem
- Give me the transform code, which demonstrates the problem

Cheers,
Ben

[2020-12-25 06:01] shrue348 commented on #57
ok
here is my config

const regExp = /\[([^)]+)\]/;
export const importCSVConfig = {
  parseConfig: {
    dynamicTyping: true,
    transform: (val: any) => {
      if (val.match(regExp)) {
        return (val.match(regExp)[1] || '')
          .split(',')
          .map((el: any) => (
            Number(el) ? Number(el) : el
          ));
      }
      return val;
    },
  },
  preCommitCallback: (

[2020-12-25 08:56] shrue348 commented on #57
i resolve this problem
i turn off dynamicTyping and add simple typing in transform function

parseConfig: {
  dynamicTyping: false,
    transform: (val: any) => {
      if (val.match(regExp)) {
        return (val.match(regExp)[1] || '')
          .split(',')
          .map((el: any) => (
            Number(el) ? Number(el) : el
          ));
      }
      if (val === 'false') return false;

[2020-12-25 23:59] benwinding commented on #57
Great work @shrue348, glad to hear you got it sorted out!

[2020-12-25 23:59] #57 closed, assigned to nobody

[2021-03-21 11:29] irborrero opened #58 "Question: Add additional field to CSV records before posting"
Hello,

First of all, thank you for this feature! It really saves a lot of time.

**Here is my use case**:

I am importing a csv file that looks like this:
[code]

I would like to add an extra CSV field before posting, so that the post request payload looks like this:
[code]

The additional field is always a constant value that I need to send to my API endpoint to perform the post request.

Is it

[2021-03-21 22:42] benwinding commented on #58
Hi @irborrero,

That's correct, you can use the `transformRows` callback in the options, which returns a Promise containing the transformed rows. Yours might look like:

[code]
You could also modify your Dataprovider to handle this too. Let me know how you go :)
Ben

[2021-03-22 14:02] irborrero commented on #58
Hi @benwinding

Yes it worked!

Did this:

[code]

Thanks :)

[2021-03-22 14:02] #58 closed, assigned to nobody

[2021-04-04 08:45] Ankit1598 opened #59 "Unable to add Filters when using the Import button"
The Import button on its own works fine but the Filter is not visible, so then I followed Issue #1 but then I started getting error.

In my code I have:
[code]
Below is the error log that I am getting
![image](https://user-images.githubusercontent.com/65450600/113503410-8b932f80-94e6-11eb-8968-e898b2189ae6.png)

[code]

[2021-04-09 14:42] sebcramer opened #60 "Compile error with TS 3.9.9"
Due to a bug in @types/ramda the build will throw a compile error. See: DefinitelyTyped/DefinitelyTyped#26375

[2021-04-09 14:48] sebcramer opened #62 "Dist package does not contain TypeScript definitions"
The current package does not contain .d.ts TypeScript type definitions.

[2021-04-11 11:49] #60 closed, assigned to nobody

[2021-04-11 11:49] #62 closed, assigned to nobody

[2021-04-27 11:02] vinodphadtare opened #66 "Issue with the resource post count when importing records"
When I tried to import records using demo app with this CSV
[posts.csv](https://github.com/benwinding/react-admin-import-csv/files/6383988/posts.csv)

Although CSV contains 4 records but message is display as 5 records.
![incorrect-row-count](https://user-images.githubusercontent.com/12867429/116230997-f1857680-a775-11eb-8cff-346b5ec71462.png)

After clicking on "Let me decide for each row" count

[2021-04-27 11:10] vinodphadtare opened #67 "Import functionality with row by row is updating wrong record"
when I tried importing csv file
[posts.csv](https://github.com/benwinding/react-admin-import-csv/files/6384009/posts.csv)

and selected "Let me decide for each row"
![Current Record](https://user-images.githubusercontent.com/12867429/116231478-8f794100-a776-11eb-8624-625085d94ac0.png)

Now you can see in console current record is with ID "4" But when I click "Replace the row ID =4" button, Code re

[2021-04-27 11:21] vinodphadtare commented on #67
I was able to resolve this issue by changing two function in "src/main-csv-button.tsx" file

In handleAskDecideReplace, we should update to replace current record and then get nextConflicting record, instead of getting next conflicting record and updating it.
Original Code (line 229)
<pre>
const handleAskDecideReplace = async () => {
    logger.log("handleAskDecideReplace");
    const val = nextCo

[2021-04-27 11:26] vinodphadtare commented on #66
I tried to debug this issue, I am not sure why we are adding +1 for conflicting ids length

file: src/components/import-csv-dialog-strategy.tsx
line 66:
`conflictingCount: idsConflicting && idsConflicting.length + 1,`

please suggest.

[2021-04-28 23:33] #67 closed, assigned to nobody

[2021-04-28 23:34] benwinding commented on #67
Hi @vinodphadtare,
Thanks for reporting the issue, I've updated with your changes and it will be available in the  `1.0.19`
Also, feel free to submit pull requests for bugs like this in the future!
Cheers,
Ben

[2021-04-28 23:36] #66 closed, assigned to nobody

[2021-04-28 23:39] benwinding commented on #66
Hi @vinodphadtare,
Thanks again for reporting the issue, yes it looks like this was a mistake, the +1 is not required. This change will be available in version `1.0.19`.
Cheers,
Ben

[2021-07-09 14:44] freddyseubertnio opened #68 "Inject record data into transformRows callback"
Hi there!

I have a Show component for a 'Parent' resource and I want to import a CSV which contains entries of a 'Child' resource. Now I need to reference the currently displayed Parent ID in a field for every imported Child.
I understand that I can add static information in the transformRows callback but how can I possibly inject the currently displayed Parent record into the function?

Thank yo

[2021-07-19 20:25] HarryF514 opened #69 "Unsupported fetch action type createMany"
When I tried to use the import function, I am seeing:

[code]
could you please provide an example of how to implement createMany

[2021-07-20 03:55] benwinding commented on #69
Hi @HarryF514,

Going to need a bit more detail to get an understanding of that error message, but here's a quick example of how to implement the `.createMany()` in a dataprovider, basically you _wrap_ the dataprovider and implement functionality [as shown here too](https://marmelab.com/react-admin/DataProviders.html#extending-a-data-provider-example-of-file-upload).

[code]

Will add this to the

[2021-08-25 01:00] BruceWheaton opened #71 "Access existing data in transformRows or another callback?"
My data has an email address as an identifier, but it also gets assigned a unique ID in the database. Is there a way to check if an entry already exists (and ideally match them up) as I import?

[2021-08-26 20:47] techpet commented on #69
I am getting a similar error:
[code]

That's weird because based on the documentation,

Shouldn't it use .create() method by default as a fallback when createMany method is not defined?

[2021-09-03 16:31] techpet commented on #59
This is how I managed to solve this by following the tutorial on:
[https://marmelab.com/react-admin/List.html#actions](https://marmelab.com/react-admin/List.html#actions)

as @benwinding suggested in [#1](https://github.com/benwinding/react-admin-import-csv/issues/1)

[code]

[2021-09-06 19:58] koaladlt opened #72 "Is there a way to change the default tooltip?"
Hey guys. So maybe I'm missing something in the docs, but I can't find a way to edit the default tooltip on the import button. Thanks in advance!

<img width="156" alt="Screen Shot 2021-09-06 at 16 57 53" src="https://user-images.githubusercontent.com/64273203/132257468-30c50d0f-97e6-4452-85b5-9349c5512056.png">

[2021-09-07 00:59] benwinding commented on #72
That tooltip comes from this translation file

https://github.com/benwinding/react-admin-import-csv/blob/6b335e2a5b7f776724fc1086a45b15a5d6168702/src/i18n/en.ts#L2-L6

There's a spanish translation file for that too:

https://github.com/benwinding/react-admin-import-csv/blob/6b335e2a5b7f776724fc1086a45b15a5d6168702/src/i18n/es.ts#L2-L6

Follow the `i18n` translation help in the readme and let me k

[2021-09-07 13:18] koaladlt commented on #72
@benwinding Configuring the i18n did the trick, thank you so much!

[2021-09-07 13:18] #72 closed, assigned to nobody

[2021-09-20 21:58] koaladlt opened #73 "The response to 'getMany' must be like { data : [...] }"
Hi there!

I'm having this issue, I'm not sure if I'm missing something, but here I go:

**When I upload a CSV file, it looks like is making a get request filtering some data, and I'm dealing with this error:**

`The response to 'getMany' must be like { data : [...] }, but the received data is not an array. The dataProvider is probably wrong for 'getMany'`

<img width="410" alt="Screen Shot 2021-0

[2021-09-21 01:06] benwinding commented on #73
Hi @koaladlt,

So before it executes the import, this library checks if the csv rows have already been imported (using `getMany` on your dataprovider).

That error seems to be related to a problem with your data-provider's `getMany` method, and is an error thrown by the `react-admin` framework, see here for details (https://marmelab.com/react-admin/DataProviders.html#request-format), not this libr

[2021-09-21 13:20] koaladlt commented on #73
Hi @benwinding, thank you for your response.

I think I know the problem, I'm not pretty sure but it looks like I need to retrieve the data in the exact format that React Admin wants it.

My API was retrieving the data in this way:
`{data: [{id:1, productName: ...}], total:3}`

And I think that I need to remove the **total** key from the initial object:
`{data:[{id:1, productName: ...]}`

Thanks a

[2021-09-21 13:20] #73 closed, assigned to nobody

[2021-09-21 21:32] benwinding commented on #73
Glad to hear you got it working!

[2021-10-14 12:00] vahidqo opened #75 "change encoding"
Hi friends
When I import a CSV file that contains Persian letters, the letters will be converted to "????". I think the problem is in encoding.
I want to change the CSV encoding when uploading a file. How can I do this?

[2021-10-14 12:31] benwinding commented on #75
Yeah interesting, you should be able to pass in the encoding string value to the papaparse options like this:

[code]

For all `parseConfig` options see: https://www.papaparse.com/docs#config

[2021-11-04 22:36] diegocgaona opened #76 "[QUESTION] How to send a field with an array of ids"
Hi!
First, thanks for the great package!

I'm trying to send an csv and almost everything is fine, but one field (`type_ids`) is an array, which need to be send like:
`"client_id":1,"type_ids":[3,2,1]`

But when I import, it's send like:
`"client_id":1,"type_ids":"3,2,1"`

It sends the field as an string.
In my csv it is: 1;2;3

My config of the importer is:
`<ImportButton {...props} parseConfig={

[2021-11-05 22:13] diegocgaona commented on #76
I tried:

[code]
And:

`<ImportButton {...props} {...config} />`

But the result still wrong: `type_ids	"3;1"`

Any ideas?

[2021-11-06 00:15] diegocgaona commented on #76
Now I understood the transform, it get all the columns, I need an if to get my specific column. Before, with the default `header: false`  it was trying to convert my header too to an array.
And, with `header: false` it get the columns by index, and my if was not working.

My solution:

[code]

[2021-11-06 00:15] #76 closed, assigned to nobody

[2021-11-18 10:53] hnaidin commented on #69
Have the same issue, it's not falling back to .create() on all items

[2021-12-20 15:46] diegocgaona opened #80 "Not working with app cache"
If I use the application cache suggestion from https://marmelab.com/react-admin/Caching.html#application-cache , the import button do not work

[code]
With the cache active, the import button do not make an API call, it stops as the image bellow:
![image](https://user-images.githubusercontent.com/9142126/146794317-958a3f9c-00b9-4a55-8c9a-39819832a082.png)

If I delete it and use the myDataProvider

[2022-03-04 12:49] #75 closed, assigned to nobody

[2022-03-04 12:52] #59 closed, assigned to nobody

[2022-03-24 10:03] Loocos opened #84 "Error on GetIdsColliding when importing new rows"
Hello there,

I'm wondering if that's the normal behaviour :
- If I just export and re-import my CSV, I got my rows updated, that's well!
- If I export a CSV, edit it, add 1 row with a non existant ID, I'm going to get an error on GetIdsColliding because the request return a 404 not found.

I'm using API Platform for the data provider. Using your demo, it'll never happen because there's fake data

[2022-03-30 12:18] benwinding commented on #84
Hi @Loocos,
Can't you just do the following:
1. Edit exported `posts.csv`
2. Import `posts.csv`
3. Click `Skip these rows` to ignore the rows that have conflicting id's

As shown here [in the demo](https://benwinding.github.io/react-admin-import-csv/#/posts):
![Kapture 2022-03-30 at 23 15 23](https://user-images.githubusercontent.com/11782590/160832487-dab3e5d7-cbbd-455a-b7b7-9e00033b9303.gif)

[2022-03-30 12:35] Loocos commented on #84
@benwinding at least, can you just read what I wrote ?
I know it and it's working like your "demo", but I'm not doing like your demo and the behaviour is totally different.

**If I export a CSV, edit it by adding 1 row with a non existant ID, I'm going to get an error on GetIdsColliding because the request return a 404 not found.**

If u follow what I just said, you'll not have any popup! But you

[2022-03-31 00:18] benwinding commented on #84
Sorry @Loocos, just trying to help you. Your original message wasn't very clear to me.

The demo uses the `ra-data-fakerest` dataprovider, which like you said _doesn't throw an error_ when you execute `getMany` for an `id` that doesn't exist, it should only return ones that do exist.

Which dataprovider are you using? You could fix this yourself by wrapping your dataprovider and catching the 404 e

[2022-03-31 06:00] a3626a commented on #69
Implementing CreateMany is always better than relying on the fallback.
However, in some cases CreateMany is not supported at api(server) level.
In those cases, implementing CreateMany is just repeating this code :
https://github.com/benwinding/react-admin-import-csv/blob/9b7b840f76270fe7c444710881ed781a8d83c830/src/uploader.ts#L106-L123

Therefore, I think relying on the fallback is better if the

[2022-03-31 07:17] benwinding commented on #69
Exactly right @a3626a,

There's no way to know if a DataProvider implements the `createMany` method. I've asked about this and [the official response](https://github.com/marmelab/react-admin/issues/5256#issuecomment-693175450) from the `react-admin` creator is:

Not sure what can be done here, @a3626a do you know if the error message has changed to `"Unsupported Data Provider"` or is that just you

[2022-03-31 10:55] a3626a commented on #69
That's not a react-admin's official one, and also not my own. It is a custom implementation of data provider :
https://github.com/henvo/ra-jsonapi-client/blob/eabbacf66f4051168a16bdaf17b2095bf19fd7f6/src/index.js#L137-L139

I think catching all those custom errors is impossible.

[2022-04-15 10:50] Talhafayyaz11 commented on #69
Does anyone solve this issue? I am also having this issue while uploading CSV.
I get this error : **No query or mutation matching fetch type createMany could be found for resource Event**.
I also tried to add createMany in Event resource type but no success.

[2022-04-19 03:52] #69 closed, assigned to nobody

[2022-04-19 04:17] benwinding commented on #69
Version `1.0.31` should fix the issue here. The new version should automatically handle those additional error cases.

But if you're still getting an error from `createMany` try disabling it by using `disableCreateMany` in the options.

Let me know if there's any issues

[2022-04-22 08:37] Talhafayyaz11 opened #87 "CSV with empty column Error Handling"
When you try to import CSV with an empty column it throws an error in logging but there is no way to catch that error. I have tried to use papaparse skipEmpty lines option but that does not work either. Also tried validRow but I think the error is before executing that function. It would be great if you can help me out here. Thanks in advance.
<img width="1272" alt="Screenshot 2022-04-22 at 1 36 4

[2022-04-22 09:40] benwinding commented on #87
Hey @Talhafayyaz11,
Thanks for reporting, definitely sounds like a bug, but I cannot reproduce it. A couple of questions will help us fix it.
1. Can you reproduce this bug on the demo site here -> https://benwinding.github.io/react-admin-import-csv/#/posts
2. What is in the file? Is it completely blank or still has headers?
2. What version of the library are you using? is it the latest version?

L

[2022-04-22 09:45] Talhafayyaz11 commented on #87
Hey @benwinding
1. yes I just reproduced the same stack trace as I have attached above.
2. This is the csv file [eventGoodCase.csv](https://github.com/benwinding/react-admin-import-csv/files/8539635/eventGoodCase.csv)
3. I am using the latest version: "react-admin-import-csv": "1.0.31"

[2022-04-22 10:32] #87 closed, assigned to nobody

[2022-04-22 10:37] benwinding commented on #87
Thanks for those details @Talhafayyaz11, it was indeed a bug 🐛 . Basically [papaparse](https://www.papaparse.com/) returns empty columns as `null` which was unexpected.

It has been fixed via https://github.com/benwinding/react-admin-import-csv/commit/f8cdf38c17b96710a8f9f87a333fe53f793f3f65 . The new version `1.0.32` should have the fix in it. The demo should be fixed too 🙏

[2022-04-22 11:01] Talhafayyaz11 commented on #87
@benwinding  can you let me know how can I catch the error? Because it still throws me error.

[2022-04-25 11:01] fkowal opened #88 "react-admin: 4.x material 5.x react 17 release"
Hey,

Asking about the release that be compatible with the above

[2022-04-26 13:44] fkowal commented on #88
https://github.com/benwinding/react-admin-import-csv/pull/89

i've fixed all the issues

but i don't really know what to do about the react-redux issue I am getting

anyone care of help?

[code]

react-admin 4.x doesn't use redux anymore so I added this module as dependency, but perhaps it could be remove all together

I am getting the following error

[2022-05-16 15:04] Loocos commented on #84
Hi @benwinding, sorry for the anwser delay, didn't got notified.

Tell me if I'm not clear enough, I will add the missing details. Anyway, I appreciate any help about it.

I'm using the fetch hydra from API Platform Admin.

I'm wondering how you guys are making it works without rewriting the getMany by yourself. Everybody must be confrontated to this problem.

So how your lib is working, allow use

[2022-05-17 00:02] #84 closed, assigned to nobody

[2022-05-17 00:05] benwinding commented on #84
Hi @Loocos,
I've added the option `disableGetMany`, this should fix the issue you're having.
Try version `1.0.33` and let me know how you go 👍

[2022-05-17 11:58] Loocos commented on #84
Hi @benwinding,

Thanks for the update. But I'm still having issues.
I think it's not fit for API Platform.

- it's now trying to always create instead of updating. (wasn't a problem before your update, so strange)
- the identifier isn't recognized anymore (I've an ID and EAN property, but the EAN is used as an identifier using @ApiProperty(identifier=true))

I think you should have a look to Reac

[2022-05-17 13:07] benwinding commented on #84
No worries @Loocos,

Yeah create a project that demonstrates the issues, and I'll take a look 👌

[2022-08-01 12:10] KonkretneKosteczki opened #90 "Colliding ids for disableGetMany option"
I've been trying to use the module with react-admin-firebase, however react-admin-firbease does return objects for the getMany calls (with just ids) even if those do not exist, which forced me to use the getOne instead.

However, It seems that when resource is successfully obtained via getOne the id is marked as non colliding, and when there is an error when querying the resource it is marked as c

[2022-09-02 09:39] KonkretneKosteczki commented on #90
Is this repository dead? this doesn't seem like that much of an issue to fix this bug. Why should a function return the id if the app did find an object with the same id, and not return it otherwise.

[2022-09-05 00:38] benwinding commented on #90
I'm very busy at the moment, feel free to contribute a PR if it's an easy bug to fix 👍